<% if @subjects.empty? %>
  <div class="alert alert-info" role="alert">
    Create a subject such as <em>Entrepreneurship</em> or <em>IoT</em> to begin.
  </div>
<% else %>
  <table class="table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Classes</th>
      </tr>
    </thead>

    <tbody>
      <% @subjects.each do |subject| %>
        <tr>
          <td><%= subject.title %></td>
          <td><%= subject.klasses.count == 0 ? '&mdash;'.html_safe : subject.klasses.count %></td>
          <td><%= link_to 'Edit', edit_subject_path(subject) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<br>

<%= link_to 'New Subject', new_subject_path %>
