@import "jquery-tablesorter/theme.bootstrap_2.css";

#applicationList th {
  white-space: nowrap;
}

.appformsection {
  margin: 1em;
  padding: 1em;
  background:#efefe0;
}

.appformsection .card {
  margin: 5pt;
  padding: 5pt;
  font-size: 80%;
  background:#ffffcc;
}