@import "jquery-tablesorter/theme.bootstrap_2.css";

#applicationList th {
  white-space: nowrap;
}

.appformsection {
  margin: 1em;
  padding: 1em;
  background:#efefe0;
}

.appformsection .card-block {
  padding: 2em;
  padding-left: 5em;
  padding-right: 5em;
}

.appformsection .card-block p img {
  display: block;
  max-width: 100%;
  height: auto;
}

.ql-editor p {
  margin-bottom: 10px !important;
}