<ul class="nav nav-pills nav-stacked">
  <% [
    [ 'subjects', 'Subjects' ],
    [ 'klasses', 'Classes' ],
    [ 'payment_tiers', 'Payment Tiers' ],
    [ 'email_rules', 'E-mail Rules' ],
    [ 'email_templates', 'E-mail Templates' ],
    [ 'import', 'Import CSV' ],
    [ 'export', 'Export Data' ],
    [ 'administrators', 'Users' ],
    [ 'settings', 'System Settings' ],
  ].each do |item| %>
    <li class="nav-item">
      <a href="/<%= item[0] %>/" class="nav-link<% if controller_name == item[0] %> active<% end %>"><%= item[1] %></a>
    </li>
  <% end %>
</ul>