<ul class="nav nav-pills nav-stacked">
  <li class="nav-item"><a href="/subjects/" class="nav-link<% if controller_name == 'subjects' %> active<% end %>">Subjects</a></li>
  <li class="nav-item"><a href="/klasses/" class="nav-link<% if controller_name == 'klasses' %> active<% end %>">Classes</a></li>
</ul>